@using BioStockholm.Web.Business.Extensions

@model NereaProductListPageViewModel

<div>
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>
                @*hämta bilden*@
                <a href="@product.ContentLink.Url()">@product.Name</a>
            </li>
        }
    </ul>
</div>

@*<div class="productListPage-heading">
    <h1 @Html.EditAttributes(x => x.CurrentPage.PageHeading)>@Model.CurrentPage.PageHeading</h1>
    <p class="introduction" @Html.EditAttributes(x => x.CurrentPage.PagePreamble)>@Model.CurrentPage.PagePreamble</p>
</div>*@
