@using BioStockholm.Web.Business.Extensions

@model NereaProductListPageViewModel

<div class="productlistpage-container">
    <div class="productlistpage-header">
        <h1>@Html.PropertyFor(x =>x.CurrentPage.PageHeading)</h1>
        <p>@Html.PropertyFor(x => x.CurrentPage.PagePreamble)</p>
    </div>
    <div class="productlistpage-content">
        <ul>
            @foreach (var product in Model.Products)
            {
                <li>
                    @*hämta bilden*@
                    <a href="@product.ContentLink.Url()">
                        <img src="@Url.ContentUrl(product.Image)" />
                        <h5>@product.Name</h5>
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

@*<div class="productListPage-heading">
    <h1 @Html.EditAttributes(x => x.CurrentPage.PageHeading)>@Model.CurrentPage.PageHeading</h1>
    <p class="introduction" @Html.EditAttributes(x => x.CurrentPage.PagePreamble)>@Model.CurrentPage.PagePreamble</p>
</div>*@
