@using BioStockholm.Web.Business.Extensions
@using EPiServer
@using EPiServer.ServiceLocation
@using EPiServer.Shell
@using EPiServer.Web
@model NereaProductPageViewModel
    
@{
    var _contentLoader = ServiceLocator.Current.GetInstance<IContentRepository>();
    var startPage = _contentLoader.Get<NereaStartPage>(SiteDefinition.Current.StartPage);
}

<div class="productpage-container">
    <div class="productpage-video">
        <div class="productpage-video__youtube">
            <iframe @*width="560" height="315"*@ src="@Model.TrailerUrl" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="productpage-video__info">
            <h1>
                @Html.PropertyFor(x => x.CurrentPage.Heading)
            </h1>
            <p class="productlistpage-text__p">@Html.PropertyFor(x => x.CurrentPage.Genre), @Html.PropertyFor(x => x.CurrentPage.AgeLimit)</p>
            <hr />
            <p><span>Premiär:</span> @Html.PropertyFor(x => x.CurrentPage.Premiere)</p>
            <hr />
            <p>Speltid: @Html.PropertyFor(x => x.CurrentPage.DurationTime)</p>
            <hr />
            <p>Regissör: @Html.PropertyFor(x => x.CurrentPage.Director)</p>
            <hr />
            <p>Orginal språk: @Html.PropertyFor(x => x.CurrentPage.OrginalLanguage)</p>
            <hr />
            <p>Skådespelare: @Html.PropertyFor(x => x.CurrentPage.Actors)</p>
            <hr />
            <p>Pris: @Model.CurrentPage.Price kr</p>
        </div>
    </div>
    <div class="productpage-heading">
        <div class="productpage-image">
            @Html.PropertyFor(x => x.CurrentPage.Image)
            <div class="productpage-button__reserv">
                <input type="submit" value=@Model.CurrentPage.ButtonReserv />
            </div>
            <div class="productpage-button__buy">
                <input type="submit" value=@Model.CurrentPage.ButtonBuy />
            </div>
        </div>
        <div class="productpage-text">
            <h1>
                @Html.PropertyFor(x => x.CurrentPage.Heading)
            </h1>
            <span>
                <img src="~/Static/gfx/movie-icon.png" />
                <p>@Html.PropertyFor(x => x.CurrentPage.Genre)</p>
                <img src="~/Static/gfx/timeIcon.png" />
                <p>@Html.PropertyFor(x => x.CurrentPage.DurationTime)</p>
            </span>
            <div class="productpage-text__innertext">
                <p>
                    @Html.PropertyFor(x => x.CurrentPage.Text)
                </p>
            </div>
        </div>

    </div>
    <hr>
    <div class="productpage-getday">
        <select>
            @foreach (var day in Model.CurrentWeek)
            {
                <option value="">@day.ToString("dddd dd/MM").Replace("-", "/")</option>
            }
        </select>
    </div>

    <div class="productpage-gettickets">
        <table>
            <tr class="productpage-gettickets__header">
                <th class="productpage-gettickets__header-text">Tid</th>
                <th>Salong</th>
                <th>Platser kvar</th>
                <th></th>
            </tr>

            @foreach (var show in Model.Shows)
            {
                <tr>
                    <td>@show.Time</td>
                    <td>@show.SalongName</td>
                    <td style="text-align: center">45</td>
                        
                    <td><a href="@startPage.BookingPage.Url()">Reservera</a></td>
                </tr>
            }
        </table>
    </div>
</div>