@using BioStockholm.Web.Business.Extensions
@using EPiServer.Web.Routing
@model NereaStartPageViewModel

<div class="main-carusell">
    @Html.PropertyFor(x => x.CurrentPage.MainContentArea)
</div>

<div class="startpage-header">
    <h2>
        @Html.PropertyFor(x => x.CurrentPage.Header) 
    </h2>
</div>

<div class="startpage-maincontent">
    <ul>
        @foreach (var product in Model.Products)
            {
            <li>
                @*hämta bilden*@
                <a href="@product.ContentLink.Url()">
                    <img src="@Url.ContentUrl(product.Image)" />
                    <h5>@product.Name</h5>
                    <p>Premiär: @product.Premiere.ToString("dd MMMM")</p>
                </a>
            </li>
        }
    </ul>
  
</div>